<div class="bg-container">
    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 1079.91">
        <defs>
            <style>
                .cls-1{fill:url(#New_Gradient_Swatch_copy_2)}.cls-2{fill:#ffeed9}.cls-3{fill:#f3796f}.cls-4{fill:#22183f}.cls-5{fill:#00a8b3}.cls-6{fill:url(#New_Gradient_Swatch_copy_4)}.cls-7{fill:url(#New_Gradient_Swatch_copy)}
            </style>
            <radialGradient id="New_Gradient_Swatch_copy_2" cx="361.42" cy="361.5" r="562.6" gradientTransform="matrix(2.66 0 0 1.49 0 -.13)" gradientUnits="userSpaceOnUse">
                <stop offset=".08" stop-color="#2f5b78"/>
                <stop offset=".29" stop-color="#2e5775"/>
                <stop offset=".49" stop-color="#2c4c6b"/>
                <stop offset=".69" stop-color="#28395b"/>
                <stop offset=".88" stop-color="#231e44"/>
                <stop offset=".92" stop-color="#22183f"/>
            </radialGradient>
            <linearGradient id="New_Gradient_Swatch_copy_4" x1="1190.18" y1="724.99" x2="1775.83" y2="139.34" gradientUnits="userSpaceOnUse">
                <stop offset=".19" stop-color="#00a8b3"/>
                <stop offset=".35" stop-color="#01a6b1"/>
                <stop offset=".44" stop-color="#029eab"/>
                <stop offset=".51" stop-color="#0591a0"/>
                <stop offset=".57" stop-color="#0a7e91"/>
                <stop offset=".62" stop-color="#10657d"/>
                <stop offset=".66" stop-color="#174765"/>
                <stop offset=".71" stop-color="#1f2449"/>
                <stop offset=".72" stop-color="#22183f"/>
            </linearGradient>
            <linearGradient id="New_Gradient_Swatch_copy" x1="1264.36" y1="476.88" x2="1815.34" y2="-74.1" gradientUnits="userSpaceOnUse">
                <stop offset=".25" stop-color="#00a8b3"/>
                <stop offset=".42" stop-color="#01a6b1"/>
                <stop offset=".5" stop-color="#029eab"/>
                <stop offset=".57" stop-color="#0591a0"/>
                <stop offset=".63" stop-color="#0a7e91"/>
                <stop offset=".68" stop-color="#10657d"/>
                <stop offset=".73" stop-color="#174765"/>
                <stop offset=".77" stop-color="#1f2449"/>
                <stop offset=".78" stop-color="#22183f"/>
            </linearGradient>
        </defs>
        <title>
            bg
        </title>
        <path class="cls-1" d="M0 0h1920v1079.91H0z"/>
        <path class="cls-2" pezParallaxer="cls-2" [pezParallaxerConfig]="cConfig"  d="M1920 833.98V0H437.25L1920 833.98z"/>
        <path class="cls-3" pezParallaxer="cls-3" [pezParallaxerConfig]="aConfig" d="M670.67.09l682.72 384c30.32 17.05 79.45 17.05 109.77 0s30.3-44.68 0-61.73L890.19.09z" transform="translate(0 -.09)"/>
        <path class="cls-4" pezParallaxer="cls-4" [pezParallaxerConfig]="dConfig"  d="M0 49.18v123.47l731.56 411.48c30.31 17 79.45 17 109.76 0s30.32-44.69 0-61.74zM1141.68 635c-30.31 17.05-30.31 44.69 0 61.74l266.78 150.06c30.3 17 79.45 17 109.75 0s30.32-44.68 0-61.73L1251.44 635c-30.32-17-79.44-17-109.76 0z" transform="translate(0 -.09)"/>
        <path class="cls-4" pezParallaxer="cls-4" [pezParallaxerConfig]="dConfig"  d="M1006.11 0L1920 514.02V459.6L1102.87 0h-96.76z"/>
        <path class="cls-2" pezParallaxer="cls-2" [pezParallaxerConfig]="cConfig"  d="M199.76.09h219.52L989 320.55c30.31 17 30.31 44.68 0 61.73s-79.45 17.05-109.76 0zM247.19 359.56c30.31 17.05 30.31 44.69 0 61.73s-79.45 17-109.76 0L0 344V220.53z" transform="translate(0 -.09)"/>
        <path class="cls-5" pezParallaxer="cls-5" [pezParallaxerConfig]="bConfig" d="M513.59 626.45c-30.31 17-30.31 44.69 0 61.74l633.61 356.38c30.31 17 79.45 17 109.76 0s30.31-44.68 0-61.73L623.35 626.45c-30.35-17.04-79.45-17.04-109.76 0z" transform="translate(0 -.09)"/>
        <path class="cls-2" pezParallaxer="cls-2" [pezParallaxerConfig]="cConfig"  d="M913.46 1080L716.79 969.38c-30.31-17-30.31-44.69 0-61.74s79.45-17 109.76 0L1133 1080z" transform="translate(0 -.09)"/>
        <path class="cls-4" pezParallaxer="cls-4" [pezParallaxerConfig]="dConfig"  d="M487.89 998.35c-30.32-17.05-79.46-17.05-109.76 0s-30.32 44.69 0 61.74l35.4 19.91h219.52z" transform="translate(0 -.09)"/>
        <path class="cls-2" pezParallaxer="cls-2" [pezParallaxerConfig]="cConfig"  d="M1532.74 1080l-96.69-54.38c-30.31-17-30.31-44.69 0-61.74s79.45-17 109.76 0L1752.26 1080z" transform="translate(0 -.09)"/>
        <path class="cls-3" pezParallaxer="cls-3" [pezParallaxerConfig]="aConfig" d="M1697.23 1080l-425.68-239.42c-30.3-17.05-30.3-44.69 0-61.74s79.44-17.05 109.76 0L1916.75 1080z" transform="translate(0 -.09)"/>
        <path class="cls-5" pezParallaxer="cls-5" [pezParallaxerConfig]="bConfig" d="M1319.94 606.55c-30.31-17-30.31-44.68 0-61.73s79.45-17.05 109.76 0L1920 820.59v123.47zM1571.52 350.76c-30.31-17.05-30.31-44.69 0-61.73s79.45-17 109.76 0L1920 423.3v123.47z" transform="translate(0 -.09)"/>
        <path class="cls-3" pezParallaxer="cls-3" [pezParallaxerConfig]="aConfig" d="M383.61.09L1659.8 717.9c30.32 17 79.46 17 109.77 0s30.31-44.68 0-61.73L603.13.09z" transform="translate(0 -.09)"/>
        <path class="cls-6" d="M1077.31 174.33c-30.3-17.05-79.45-17.05-109.76 0s-30.31 44.69 0 61.74L1920 771.77V648.3z" transform="translate(0 -.09)"/>
        <path class="cls-7" d="M1322.39 0h-219.52L1920 459.6V336.13L1322.39 0z"/>
        <path class="cls-3" pezParallaxer="cls-3" [pezParallaxerConfig]="aConfig" d="M1386.7 0L1920 299.96V176.49L1606.23 0H1386.7z"/>
        <path class="cls-5" pezParallaxer="cls-5" [pezParallaxerConfig]="bConfig" d="M1747.95 0L1920 96.77V0h-172.05z"/>
        <path class="cls-3" pezParallaxer="cls-3" [pezParallaxerConfig]="aConfig" d="M453.52 532.8c-30.31 17-30.31 44.68 0 61.73l200.2 112.61c30.3 17.05 79.45 17.05 109.75 0s30.32-44.69 0-61.74l-200.2-112.6c-30.27-17.05-79.45-17.05-109.75 0z" transform="translate(0 -.09)"/>
        <path class="cls-2" pezParallaxer="cls-2" [pezParallaxerConfig]="cConfig"  d="M380.49 259.51c-30.31 17.05-30.31 44.69 0 61.74L647.26 471.3c30.31 17.05 79.45 17.05 109.76 0s30.32-44.69 0-61.73L490.25 259.51c-30.32-17.05-79.45-17.05-109.76 0z" transform="translate(0 -.09)"/>
        <path class="cls-5" pezParallaxer="cls-5" [pezParallaxerConfig]="bConfig" d="M189 93.78c-30.31 17-30.31 44.68 0 61.73l393.5 221.33c30.31 17 79.45 17 109.76 0s30.31-44.69 0-61.74L298.79 93.78c-30.31-17.05-79.45-17.05-109.79 0z" transform="translate(0 -.09)"/>
        <path class="cls-4" pezParallaxer="cls-4" [pezParallaxerConfig]="dConfig"  d="M0 417.35v123.47l272.89 153.49c30.31 17.05 79.45 17.05 109.76 0s30.31-44.69 0-61.73zM1470.53.09h219.52l60.13 33.82c30.32 17.05 30.32 44.69 0 61.74s-79.45 17-109.75 0z" transform="translate(0 -.09)"/>
        <path class="cls-5" pezParallaxer="cls-5" [pezParallaxerConfig]="bConfig" d="M261 .09h219.57l173 97.32c30.32 17 30.32 44.68 0 61.73s-79.45 17.05-109.76 0zM1650.13 926.46c-30.3 17-30.3 44.69 0 61.74l83.87 47.17c30.3 17.05 79.45 17.05 109.75 0s30.32-44.69 0-61.74l-83.86-47.17c-30.3-17.05-79.45-17.05-109.76 0z" transform="translate(0 -.09)"/>
        <path class="cls-3" pezParallaxer="cls-3" [pezParallaxerConfig]="aConfig" d="M932.07 446.39c-30.31 17.05-30.31 44.69 0 61.74l102.67 57.75c30.31 17 79.45 17 109.76 0s30.31-44.69 0-61.74l-102.67-57.75c-30.31-17.04-79.45-17.04-109.76 0zM283.77 816.48c-30.31 17-30.31 44.68 0 61.73l59.62 33.54c30.31 17 79.45 17 109.76 0s30.31-44.69 0-61.74l-59.62-33.53c-30.31-17.05-79.45-17.05-109.76 0zM1651.34 462.72c-30.34-17.05-30.34-44.72 0-61.72s79.45-17 109.75 0L1920 490.36v123.47z" transform="translate(0 -.09)"/>
        <path class="cls-4" pezParallaxer="cls-4" [pezParallaxerConfig]="dConfig"  d="M1920 564.8l-22.62-12.73c-30.31-17-79.45-17-109.76 0s-30.31 44.69 0 61.74L1920 688.27z" transform="translate(0 -.09)"/>
    </svg>
</div>
