<div class="bg-container">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Layer_1" data-name="Layer 1" viewBox="0 0 2437.61 1440">
        <defs>
            <style>
                .cls-1 {
                    fill: url(#New_Gradient_Swatch_copy_2);
                }

                .cls-2 {
                    fill: #ffeed9;
                }

                .cls-3 {
                    fill: url(#New_Gradient_Swatch_copy_9);
                }

                .cls-4 {
                    fill: #22183f;
                }

                .cls-5 {
                    fill: #00a8b3;
                }

                .cls-6 {
                    fill: url(#New_Gradient_Swatch_copy_9-2);
                }

                .cls-7 {
                    fill: url(#New_Gradient_Swatch_copy_9-3);
                }

                .cls-8 {
                    fill: url(#New_Gradient_Swatch_copy_7);
                }

                .cls-9 {
                    fill: url(#New_Gradient_Swatch_copy_4);
                }

                .cls-10 {
                    fill: url(#New_Gradient_Swatch_copy_3);
                }

                .cls-11 {
                    fill: url(#New_Gradient_Swatch_copy);
                }

                .cls-12 {
                    fill: url(#New_Gradient_Swatch_copy_5);
                }

                .cls-13 {
                    fill: url(#New_Gradient_Swatch_copy_9-4);
                }

                .cls-14 {
                    fill: url(#New_Gradient_Swatch_copy_9-5);
                }

                .cls-15 {
                    fill: url(#New_Gradient_Swatch_copy_6);
                }

                .cls-16 {
                    fill: url(#New_Gradient_Swatch);
                }

                .cls-17 {
                    fill: url(#New_Gradient_Swatch_copy_8);
                }

                .cls-18 {
                    fill: url(#New_Gradient_Swatch_copy_9-6);
                }

                .cls-19 {
                    fill: url(#New_Gradient_Swatch_copy_9-7);
                }

                .cls-20 {
                    fill: url(#New_Gradient_Swatch_copy_9-8);
                }
            </style>
            <radialGradient id="New_Gradient_Swatch_copy_2" cx="540.42" cy="540.41" r="841.24" gradientTransform="translate(0 0) scale(2.26 1.33)"
                gradientUnits="userSpaceOnUse">
                <stop offset="0.08" stop-color="#2f5b78" />
                <stop offset="0.29" stop-color="#2e5775" />
                <stop offset="0.49" stop-color="#2c4c6b" />
                <stop offset="0.69" stop-color="#28395b" />
                <stop offset="0.88" stop-color="#231e44" />
                <stop offset="0.92" stop-color="#22183f" />
            </radialGradient>
            <linearGradient id="New_Gradient_Swatch_copy_9" x1="851.47" x2="1886.46" y1="264.55" y2="264.55" gradientUnits="userSpaceOnUse">
                <stop offset="0.14" stop-color="#22b573" />
                <stop offset="0.26" stop-color="#229769" />
                <stop offset="0.54" stop-color="#225352" />
                <stop offset="0.74" stop-color="#222844" />
                <stop offset="0.84" stop-color="#22183f" />
            </linearGradient>
            <linearGradient id="New_Gradient_Swatch_copy_9-2" x1="1585.49" x2="2433.49" y1="1230.69" y2="1230.69" xlink:href="#New_Gradient_Swatch_copy_9"
            />
            <linearGradient id="New_Gradient_Swatch_copy_9-3" x1="487.02" x2="2275.48" y1="487.1" y2="487.1" xlink:href="#New_Gradient_Swatch_copy_9"
            />
            <linearGradient id="New_Gradient_Swatch_copy_7" x1="2109.59" x2="1804.79" y1="693.37" y2="998.17" gradientUnits="userSpaceOnUse">
                <stop offset="0.24" stop-color="#00a8b3" />
                <stop offset="0.28" stop-color="#0497a6" />
                <stop offset="0.41" stop-color="#0f6a81" />
                <stop offset="0.53" stop-color="#174664" />
                <stop offset="0.64" stop-color="#1d2d50" />
                <stop offset="0.74" stop-color="#211d43" />
                <stop offset="0.82" stop-color="#22183f" />
            </linearGradient>
            <linearGradient id="New_Gradient_Swatch_copy_4" x1="1525.55" x2="2240.09" y1="936.3" y2="221.76" gradientUnits="userSpaceOnUse">
                <stop offset="0.19" stop-color="#00a8b3" />
                <stop offset="0.35" stop-color="#01a6b1" />
                <stop offset="0.44" stop-color="#029eab" />
                <stop offset="0.51" stop-color="#0591a0" />
                <stop offset="0.57" stop-color="#0a7e91" />
                <stop offset="0.62" stop-color="#10657d" />
                <stop offset="0.66" stop-color="#174765" />
                <stop offset="0.71" stop-color="#1f2449" />
                <stop offset="0.72" stop-color="#22183f" />
            </linearGradient>
            <linearGradient id="New_Gradient_Swatch_copy_3" x1="1163.32" x2="1670.85" y1="751.88" y2="244.35" gradientUnits="userSpaceOnUse">
                <stop offset="0.34" stop-color="#00a8b3" />
                <stop offset="0.41" stop-color="#029fac" />
                <stop offset="0.53" stop-color="#088899" />
                <stop offset="0.68" stop-color="#11617a" />
                <stop offset="0.85" stop-color="#1d2d50" />
                <stop offset="0.92" stop-color="#22183f" />
            </linearGradient>
            <linearGradient id="New_Gradient_Swatch_copy" x1="1619.59" x2="2294.52" y1="605.74" y2="-69.19" gradientUnits="userSpaceOnUse">
                <stop offset="0.25" stop-color="#00a8b3" />
                <stop offset="0.42" stop-color="#01a6b1" />
                <stop offset="0.5" stop-color="#029eab" />
                <stop offset="0.57" stop-color="#0591a0" />
                <stop offset="0.63" stop-color="#0a7e91" />
                <stop offset="0.68" stop-color="#10657d" />
                <stop offset="0.73" stop-color="#174765" />
                <stop offset="0.77" stop-color="#1f2449" />
                <stop offset="0.78" stop-color="#22183f" />
            </linearGradient>
            <linearGradient id="New_Gradient_Swatch_copy_5" x1="2489.53" x2="2128.14" y1="236.67" y2="598.06" gradientUnits="userSpaceOnUse">
                <stop offset="0.29" stop-color="#00a8b3" />
                <stop offset="0.42" stop-color="#0690a0" />
                <stop offset="0.68" stop-color="#14546f" />
                <stop offset="0.91" stop-color="#22183f" />
            </linearGradient>
            <linearGradient id="New_Gradient_Swatch_copy_9-4" x1="1760.54" x2="2437.61" y1="199.99" y2="199.99" xlink:href="#New_Gradient_Swatch_copy_9"
            />
            <linearGradient id="New_Gradient_Swatch_copy_9-5" x1="546.92" x2="998.16" y1="826.57" y2="826.57" xlink:href="#New_Gradient_Swatch_copy_9"
            />
            <linearGradient id="New_Gradient_Swatch_copy_6" x1="525.2" x2="796.38" y1="579.93" y2="308.76" gradientUnits="userSpaceOnUse">
                <stop offset="0.31" stop-color="#00a8b3" />
                <stop offset="0.35" stop-color="#0497a6" />
                <stop offset="0.48" stop-color="#0f6a81" />
                <stop offset="0.61" stop-color="#174664" />
                <stop offset="0.73" stop-color="#1d2d50" />
                <stop offset="0.84" stop-color="#211d43" />
                <stop offset="0.92" stop-color="#22183f" />
            </linearGradient>
            <linearGradient id="New_Gradient_Swatch" x1="2127.27" x2="1927.09" y1="-17.27" y2="182.91" gradientUnits="userSpaceOnUse">
                <stop offset="0" stop-color="#00a8b3" />
                <stop offset="0.03" stop-color="#0593a2" />
                <stop offset="0.09" stop-color="#0d7288" />
                <stop offset="0.16" stop-color="#135671" />
                <stop offset="0.24" stop-color="#193f5f" />
                <stop offset="0.33" stop-color="#1d2e50" />
                <stop offset="0.43" stop-color="#202146" />
                <stop offset="0.57" stop-color="#221a41" />
                <stop offset="0.92" stop-color="#22183f" />
            </linearGradient>
            <linearGradient id="New_Gradient_Swatch_copy_8" x1="2111.75" x2="2289.85" y1="1411.29" y2="1233.19" gradientUnits="userSpaceOnUse">
                <stop offset="0.14" stop-color="#00a8b3" />
                <stop offset="0.22" stop-color="#0497a5" />
                <stop offset="0.51" stop-color="#14536e" />
                <stop offset="0.73" stop-color="#1e284c" />
                <stop offset="0.84" stop-color="#22183f" />
            </linearGradient>
            <linearGradient id="New_Gradient_Swatch_copy_9-6" x1="1154.49" x2="1481.91" y1="674.78" y2="674.78" xlink:href="#New_Gradient_Swatch_copy_9"
            />
            <linearGradient id="New_Gradient_Swatch_copy_9-7" x1="331.41" x2="604.18" y1="1152.13" y2="1152.13" xlink:href="#New_Gradient_Swatch_copy_9"
            />
            <linearGradient id="New_Gradient_Swatch_copy_9-8" x1="2067.65" x2="2437.61" y1="667.95" y2="667.95" xlink:href="#New_Gradient_Swatch_copy_9"
            />
        </defs>
        <title>
            bg
        </title>
        <rect width="2437.61" height="1440" class="cls-1" />
        <polygon points="2437.61 1112.06 2437.61 0 555.13 0 2437.61 1112.06" class="cls-2" />
        <path #parallaxA d="M851.47,0l866.78,512.05c38.49,22.73,100.87,22.73,139.36,0s38.47-59.59,0-82.32L1130.17,0Z" class="cls-3" 
        />
        <path d="M0,65.46V230.1L928.79,778.78c38.47,22.73,100.87,22.73,139.34,0s38.49-59.59,0-82.32Z" class="cls-4" #parallaxC 
        />
        <path d="M1449.47,846.66c-38.49,22.74-38.49,59.59,0,82.33l338.7,200.09c38.48,22.73,100.87,22.73,139.35,0s38.48-59.59,0-82.32l-338.7-200.09C1550.33,823.93,1487.94,823.93,1449.47,846.66Z"
            class="cls-4" #parallaxC  />
        <polygon points="1277.34 0 2437.61 685.42 2437.61 612.85 1400.19 0 1277.34 0" class="cls-4" />
        <path d="M253.61,0h278.7l723.34,427.31c38.48,22.73,38.48,59.59,0,82.32s-100.87,22.73-139.35,0Z" class="cls-2" 
        />
        <path d="M313.83,479.33c38.48,22.73,38.48,59.59,0,82.32s-100.88,22.73-139.36,0L0,458.58V293.94Z" class="cls-2" 
        />
        <path d="M652.05,835.22c-38.48,22.74-38.48,59.59,0,82.32l804.43,475.21c38.48,22.73,100.87,22.73,139.35,0s38.48-59.59,0-82.32L791.4,835.22C752.91,812.49,690.53,812.49,652.05,835.22Z"
            class="cls-5" #parallaxB  />
        <path d="M1159.72,1440,910,1292.5c-38.47-22.74-38.47-59.59,0-82.33s100.86-22.73,139.35,0l389,229.83Z" class="cls-2" 
        />
        <path d="M619.41,1331.12c-38.48-22.73-100.87-22.73-139.35,0s-38.48,59.59,0,82.33L525,1440H803.71Z" class="cls-4" #parallaxC 
        />
        <path d="M1945.94,1440l-122.75-72.51c-38.48-22.74-38.48-59.59,0-82.33s100.86-22.73,139.35,0L2224.64,1440Z" class="cls-2"
             />
        <path d="M2154.78,1440l-540.43-319.26c-38.48-22.73-38.48-59.58,0-82.32s100.86-22.73,139.35,0L2433.49,1440Z" class="cls-6"
             />
        <path d="M1675.77,808.69c-38.47-22.74-38.47-59.59,0-82.33s100.86-22.73,139.35,0l622.48,367.73v164.64Z" class="cls-5" #parallaxB 
        />
        <path d="M1995.18,467.6c-38.48-22.73-38.48-59.59,0-82.32s100.87-22.73,139.35,0l303.08,179V729Z" class="cls-5" #parallaxB 
        />
        <path #parallaxA d="M487,0,2107.27,957.16c38.48,22.73,100.87,22.73,139.35,0s38.48-59.59,0-82.32L765.73,0Z" class="cls-7" 
        />
        <path d="M1815.13,726.36c-31.39-18.53-78.66-22-115.9-10.25l408,241c31.38,18.53,78.65,22,115.9,10.25Z" class="cls-8" 
        />
        <path d="M1367.74,232.34c-38.47-22.73-100.87-22.73-139.34,0s-38.49,59.58,0,82.31L2437.61,1029V864.36Z" class="cls-9" 
        />
        <path d="M1203,258.3c-8.88,19.45-.43,41.09,25.43,56.36L2272.05,931.2c8.88-19.46.42-41.1-25.43-56.37Z" class="cls-4" #parallaxC 
        />
        <path d="M1367.74,232.34c-35.7-21.09-92-22.6-130.66-4.54l481.17,284.25c35.71,21.09,92,22.6,130.67,4.54Z" class="cls-10" 
        />
        <polygon points="1678.89 0 1400.19 0 2437.61 612.85 2437.61 448.21 1678.89 0" class="cls-11" />
        <path d="M2029.93,372l407.68,240.84V564.32l-303.08-179C2106.25,368.57,2065.05,364.16,2029.93,372Z" class="cls-12" 
        />
        <polygon points="1760.54 0 2437.61 399.98 2437.61 235.33 2039.25 0 1760.54 0" class="cls-13" />
        <polygon points="2219.18 0 2437.61 129.04 2437.61 0 2219.18 0" class="cls-5" #parallaxB />
        <path #parallaxA d="M575.78,710.33c-38.48,22.74-38.48,59.59,0,82.33L830,942.81c38.48,22.73,100.87,22.73,139.35,0s38.48-59.59,0-82.32L715.13,710.33C676.64,687.6,614.26,687.6,575.78,710.33Z"
            class="cls-14"  />
        <path d="M483.06,345.92c-38.48,22.74-38.48,59.59,0,82.33l338.7,200.08c38.48,22.74,100.87,22.74,139.35,0s38.48-59.59,0-82.32L622.41,345.92C583.93,323.19,521.54,323.19,483.06,345.92Z"
            class="cls-2"  />
        <path d="M240,124.93c-38.49,22.73-38.49,59.58,0,82.32L739.57,502.37c38.48,22.73,100.87,22.73,139.35,0s38.49-59.59,0-82.32L379.34,124.93C340.86,102.2,278.47,102.2,240,124.93Z"
            class="cls-5" #parallaxB  />
        <path d="M882.94,499.84,622.41,345.92c-38.48-22.73-100.87-22.73-139.35,0-1.4.83-2.73,1.68-4,2.54L739.57,502.37c38.48,22.73,100.87,22.73,139.35,0C880.32,501.55,881.65,500.7,882.94,499.84Z"
            class="cls-15"  />
        <path d="M0,556.39V721L346.46,925.7c38.48,22.73,100.87,22.73,139.35,0s38.48-59.58,0-82.32Z" class="cls-4" #parallaxC 
        />
        <path d="M1867,0h278.7L2222,45.1c38.49,22.73,38.49,59.59,0,82.32s-100.87,22.73-139.34,0Z" class="cls-4" #parallaxC 
        />
        <path d="M2222,127.42a77,77,0,0,0,14.49-10.89L2039.25,0H1867l215.7,127.42C2121.14,150.15,2183.54,150.15,2222,127.42Z" class="cls-16"
             />
        <path d="M331.42,0h278.7L829.78,129.77c38.49,22.73,38.49,59.59,0,82.32s-100.87,22.73-139.35,0Z" class="cls-5" #parallaxB 
        />
        <path d="M829.78,129.77,610.12,0H487l350.4,207C868.05,184.15,865.51,150.87,829.78,129.77Z" class="cls-4" #parallaxC 
        />
        <path d="M2095,1235.27c-38.48,22.73-38.48,59.59,0,82.32l106.47,62.9c38.48,22.73,100.87,22.73,139.34,0s38.49-59.58,0-82.31l-106.46-62.9C2195.86,1212.53,2133.47,1212.53,2095,1235.27Z"
            class="cls-5" #parallaxB  />
        <path d="M2336.65,1382.79l-245.57-145.06c-34.51,22.85-33.21,57.93,3.91,79.86l106.47,62.9C2238.59,1402.42,2298,1403.18,2336.65,1382.79Z"
            class="cls-17"  />
        <path #parallaxA d="M1183.35,595.12c-38.48,22.73-38.48,59.59,0,82.32l130.35,77c38.48,22.73,100.87,22.73,139.35,0s38.49-59.59,0-82.32l-130.34-77C1284.21,572.39,1221.83,572.39,1183.35,595.12Z"
            class="cls-18"  />
        <path #parallaxA d="M360.27,1088.61c-38.48,22.73-38.48,59.58,0,82.32L436,1215.65c38.48,22.73,100.87,22.73,139.35,0s38.49-59.58,0-82.32l-75.69-44.71C461.14,1065.88,398.75,1065.88,360.27,1088.61Z"
            class="cls-19"  />
        <path #parallaxA d="M2096.52,616.89c-38.49-22.73-38.49-59.59,0-82.32s100.87-22.73,139.34,0l201.75,119.17V818.39Z" class="cls-20" 
        />
        <path d="M2437.61,753l-28.72-17c-38.48-22.73-100.87-22.73-139.35,0s-38.48,59.59,0,82.32l168.07,99.29Z" class="cls-4" #parallaxC 
        />
    </svg>

</div>