:host {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bg-container {
    height: 100%;
    svg {
        position: absolute;
        height: calc(100% + 500px);
        top: -240px;
        left: -255px;
        path {
            transition: transform 500ms;
        }
    }
}

