:host {
    $avatar-dimension: 150px;
    $border-size: 3px;
    .mat-card-avatar {
        height: $avatar-dimension;
        width: $avatar-dimension;
        border: $border-size solid rgba(0, 0, 0, 1);
        background-size: cover;
        transition: all 0.2s ease-in-out;
        transform: scale(1);
        &:hover {
            cursor: pointer;
            border: ($border-size*3) solid rgba(0, 0, 0, 1);
            transform: scale(1.2);
        }
    }
}