

      <div [@textFade] class="row justify-content-center align-items-center">
        <div class="col-btn col-sm-10 col-md-8">
          <a mat-raised-button routerLinkActive="active-link" class="big-btn justify-content-center align-items-center" queryParams="{ 'category': 'experience' }" routerLink="./home">
            <h3 class="align-middle text-truncate">
              Experience
            </h3>
          </a>
        </div>
        <div class="col-btn col-sm-10 col-md-8">
          <a  mat-raised-button routerLinkActive="active-link" class="big-btn justify-content-center align-items-center" routerLink="./home/education">
            <h3 class="align-middle text-truncate">
              Education
            </h3>
          </a>
        </div>
        <div class="col-btn col-sm-10 col-md-8">
          <a mat-raised-button routerLinkActive="active-link" class="big-btn justify-content-center align-items-center" routerLink="./home/skills">
            <h3 class="align-middle text-truncate">
              Skills
            </h3>
          </a>
        </div>
        <div class="col-btn col-sm-10 col-md-8">
          <a mat-raised-button routerLinkActive="active-link" class="big-btn justify-content-center align-items-center" routerLink="./home/social">
            <h3 class="align-middle text-truncate">
              Social
            </h3>
          </a>
        </div>
        <div class="col-btn col-sm-10 col-md-8">
          <a mat-raised-button routerLinkActive="active-link" class="big-btn justify-content-center align-items-center" routerLink="./home/charity">
            <h3 class="align-middle text-truncate">
              Charity
            </h3>
          </a>
        </div>
        <div class="col-btn col-sm-10 col-md-8">
          <a mat-raised-button routerLinkActive="active-link" class="big-btn justify-content-center align-items-center" routerLink="./home/personal">
            <h3 class="align-middle text-truncate">
              Personal
            </h3>
          </a>
        </div>
      </div>
 