

      <div [@textFade] class="row justify-content-center align-items-center">
        <div *ngFor="let route of routes" class="col-btn col-sm-10 col-md-8">
          <a mat-raised-button routerLinkActive="active-link" class="big-btn justify-content-center align-items-center" [queryParams]="{category: route.name}" routerLink="resume">
            <h3 class="align-middle text-truncate">
              {{route.name}}
            </h3>
          </a>
        </div>
        
      </div>
 