<mat-card>
    <pre>{{card | json}}</pre>
    <mat-card-header>
        <mat-card-title *ngIf="card.title">{{card.title}}</mat-card-title>
        <mat-card-subtitle *ngIf="card.subtitle">
            {{card.subtitle}}
            <div *ngIf="card.startDate">
                <ng-container *ngIf="card.endDate; else noEnd;">
                    <time>{{card.startDate | date:'MMMM y'}}</time> -
                    <time>{{card.endDate | date:'MMMM y'}}</time>
                </ng-container>
                <ng-template #noEnd>
                    <time>{{card.startDate | date:'MMMM y'}}</time> - Present
                </ng-template>
            </div>
        </mat-card-subtitle>
        <mat-card-content>
            <ul *ngIf="card.items">
                <li *ngFor="let item of card.items | keyvalue">
                    <ng-container [ngSwitch]="item.value.type">
                        <ng-container *ngSwitchCase="inputTypes.Date">
                            <time>{{item.value.value | date:'MMMM y'}}</time>
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                            {{item.value.value}}
                        </ng-container>
                    </ng-container>
                </li>
            </ul>
        </mat-card-content>
    </mat-card-header>
</mat-card>