.decode-text {
    display: inline-block;
    font-size: 30px;
    text-align: center;
}
div {
    font-size: 2.5rem;
}

.space {
    display: inline-block;
    width: 10px;
}

.text-animation {
    display: inline-block;
    color: transparent;
    text-transform: uppercase;
    &:before {
        content: '';
        color: black;
        position: absolute;
        top: 50%;
        left: 50%;
        background: #0e182d;
        width: 0;
        height: 1.2em;
        transform: translate(-50%, -55%);
    }
    &.state-1 {
        &:before {
            width: 1px;
        }
    }
    &.state-2 {
        &:before {
            width: .9em;
        }
    }
    &.state-3 {
        color: black;
        &:before {
            width: 0;
        }
    }
}

