<div class="decode-text">
  <div [@textFade] *ngFor="let c of titleChars" [class.text-animation]="c != ' '" [class.space]="c == ' '" class="d-inline-block position-relative">
    {{c}}
  </div>
</div>
<!-- 
<div #messengerContainer>
  <ng-content></ng-content>
</div> -->