<pez-focused-layout>
    <mat-card [class.mat-elevation-z0]="viewService.$handsetPortrait | async">
        <div class="icon-ctr d-flex justify-content-center">
            <mat-icon>
                account_circle
            </mat-icon>
        </div>
        <mat-card-content class="d-flex flex-column">
            <mat-form-field>
                <input matInput type="text" placeholder="Username">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" placeholder="Password">
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions class="d-flex justify-content-end" [class.flex-column-reverse]="viewService.$handsetPortrait | async">
            <div class="col-auto">
                <a [routerLink]="['/']" mat-button color="accent">Cancel</a>
            </div>

            <div class="col-auto">
                <button mat-flat-button color="primary" [class.mb-2]="viewService.$handsetPortrait | async">Login</button>

            </div>
        </mat-card-actions>
    </mat-card>
</pez-focused-layout>