<div class="row justify-content-center align-items-center">
  <div class="col-sm-12 col-md-9 col-ctr mt-md-5">
    <!-- <img src="../../assets/svgs/banner.svg"> -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-lg-3">
          <pez-avatar class="avatar-img" [avatar]="personal.avatar"></pez-avatar>
        </div>
        <div class="col-xs-12 col-sm-8 col-lg-9 ">
          <div class="row">
            <div class="col-12">
              <pez-text-decode [value]="personal.name"></pez-text-decode>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <mat-icon>contact_mail</mat-icon>
              <a href="mailto:{{personal.email}}">{{personal.email}}</a>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <mat-icon>contact_phone</mat-icon>
              <a href="tel:+{{personal.phone}}">{{personal.phone}}</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <p>{{personal.description}}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-6" *ngFor="let link of links">
          <div class="link-button">
            <a uppercase mat-stroked-button routerLinkActive="active-link" [routerLink]="link" color="primary">{{link}}</a>
          </div>
        </div>
      </div>

    </div>

    <br>
  </div>
</div>
