:host {
    display: block;
    height: 100%;
    @import '../../styles.scss';
    $avatar-dimension: 150px;
    $border-size: 3px;
    $border-color: black;
    .avatar-img {
        position: absolute;
        display: inline-block;
        top: calc(100% - 75px);
        left: calc(41.666667% - 76.5px);
        z-index: 1;
        height: $avatar-dimension;
        width: $avatar-dimension;
    }
    @media (max-width: 615px) {
        $avatar-dimension: 125px;
        .avatar-img {
            top: 20px;
            left: 20px;
            $avatar-dimension: 100px;
        }
        .mat-card-avatar {
            height: $avatar-dimension;
            width: $avatar-dimension;
        }
        .col-ctr {
            padding: 0;
        }
        .left-card {
            order: 13;
        }
    }
    [uppercase] {
        text-transform: uppercase;
    }
    .link-button {
        margin-bottom: 6px;
        a {
            width: 100%;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    mat-card {
        padding: 0;
    }
    mat-card-header {
        img {
            width: 100%;
        }
        position: relative;
        background-image: url('../../assets/svgs/banner.svg');
        background-position: right;
        background-repeat: no-repeat;
        background-size: 100%;
        height: $avatar-dimension;
    }
    .left-card {
        &.col-sm-12 {
            border-right: none;
        }
        &.col-md-5 {
            border-right: $border-size solid $border-color;
        }
    }
    .divider {
        display: block;
        height: $border-size/2;
        width: 100%;
        background: $border-color;
    }
}
