<pez-focused-layout>
    <div class="row justify-content-center">
        <div class="col-md-6 col-xs-12">
            <!-- <ngx-auth-firebaseui [providers]="[providers.Google, providers.Facebook]" (onSuccess)="loggedIn($event)" (onError)="printError()">
            </ngx-auth-firebaseui> -->
            <ngx-auth-firebaseui [providers]="[providers.Google, providers.Facebook]" goBackURL="/browse" appearance="legacy" (onSuccess)="loggedIn($event)" (onError)="printError()"></ngx-auth-firebaseui>
            <!-- <ngx-auth-firebaseui-providers [providers]="[providers.Google, providers.Facebook]"></ngx-auth-firebaseui-providers> -->

        </div>
    </div>
</pez-focused-layout>