<nav>
    <mat-toolbar>
        <span>
            <a [routerLink]="['/browse']">pezume</a>
            <ng-container *ngIf="resumeService.selected">
                // {{resumeService.selected.title}}
            </ng-container>
        </span>
        <span class="flex-fill"></span>

        <!-- If logged in, show avatar button -->
        <ng-container *ngIf="loggedIn$ | async">
            <!-- <button mat-icon-button aria-label="User settings">
                Account
                <mat-icon>
                    account_circle
                </mat-icon>
            </button> -->
            <a [routerLink]="['/user']" mat-icon-button aria-label="Login">
                <mat-icon>account_circle</mat-icon>
            </a>
            <!-- TODO: settings button -->
        </ng-container>

        <!-- If logged in, show logout button -->
        <ng-container *ngIf="loggedIn$ | async">
            <button mat-icon-button (click)="authService.signOut()">
                <mat-icon>exit_to_app</mat-icon>
            </button>
            <!-- TODO: settings button -->
        </ng-container>

        <!-- Else, show login button -->
        <ng-container *ngIf="showLogin$ | async">
            <a [routerLink]="['/login']" mat-button aria-label="Login">
                <mat-icon>lock_open</mat-icon>
            </a>
        </ng-container>


    </mat-toolbar>
</nav>