<nav>
    <mat-toolbar>
        <span>
            <a [routerLink]="['/browse']">pezume</a>
            <ng-container *ngIf="resumeService.selected">
                // {{resumeService.selected.title}}
            </ng-container>
        </span>
        <span class="flex-fill"></span>

        <!-- If logged in, show avatar button -->
        <ng-container *ngIf="authService.currUser">
            <button mat-icon-button aria-label="User settings">
                <mat-icon>
                    exit_to_app
                </mat-icon>
            </button>
            <!-- TODO: settings button -->
        </ng-container>

        <!-- Else, show login button -->
        <ng-container *ngIf="!authService.currUser && !hideLogin">
            <a [routerLink]="['/login']" mat-button aria-label="Login">
                Login
                <mat-icon>lock_open</mat-icon>
            </a>
        </ng-container>


    </mat-toolbar>
</nav>