<pez-header-layout *ngIf="(personal$ | async) as personal">
  <pez-avatar [avatar]="personal.avatar"></pez-avatar>
  <ng-container *ngIf="(category$ | async) as category; else personalRoute;">
    <div class="row">
      <div class="col-12 text-center">
        <a [routerLink]="['../', category.name]">
          <h1 class="text-capitalize">{{category.name}}</h1>
        </a>
      </div>
    </div>
  </ng-container>
  <ng-template #personalRoute>
      <div class="row">
        <div class="col-12 text-center">
          <a [routerLink]="['/', 'user', 'home']">
            <h1 class="text-center">{{personal.name}}</h1>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-12 text-center">
              <a mat-button href="mailto:{{personal.email}}">{{personal.email}}</a>
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-center">
              <a mat-button href="tel:+{{personal.phone}}">{{personal.phone}}</a>
            </div>
          </div>
        </div>
      </div>
  </ng-template>
</pez-header-layout>
<section class="container">
  <router-outlet></router-outlet>
</section>
