<div class="d-flex flex-column" [formGroup]="parentForm">
    <pre>{{ parentForm.errors | json}}</pre>
    <mat-form-field>
        <input matInput [formControl]="username" type="text" placeholder="Username">
        <mat-error *ngIf="username.hasError('email')">Email format required</mat-error>
        <mat-error *ngIf="username.hasError('required')">Email is required</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput [formControl]="password" type="text" placeholder="Password">
        <mat-error *ngIf="password.hasError('required')">Password is required</mat-error>
    </mat-form-field>
</div>