<br>
<div class="row justify-content-center align-items-center">
  <div class="col-12">
    <div class="header-line "></div>
    <div class="row justify-content-center align-items-center">
      <div class="col-auto">
        <pez-avatar class="avatar-img" [avatar]="personal.avatar"></pez-avatar>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row" *ngIf="category?.items">
  <div class="col-12">
    <div class="row">
      <div *ngFor="let item of category.items" class="card-spacing col-sm-12 col-xl-6">
        <h2>
          {{item.title}}
        </h2>
        <h3>
          {{item.subTitle}}
        </h3>
        <ul>
          <li *ngFor="let val of item.data">
            <a *ngIf="val.type == 'link'; else notLink;" [href]="val.value" target="_blank">
              <h5>
                {{val.value}}
              </h5>
            </a>
            <ng-template #notLink>
              <h5>
                {{val.value}}
              </h5>
            </ng-template>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
