:host {
    display: block;
    height: 100%;
    width: 100%;
    padding: 0 16px;
    canvas {
        height: 10px;
        width: 100%;
        top: 50%;
        border-radius: 20px;
        position: absolute;
        background: black;
    }
}