<div class="row">
  <div class="col-12">
    <pez-title [value]="title"></pez-title>
  </div>
</div>
<br>
<div class="row" *ngIf="category?.items">
  <div class="col-12">
    <div class="row">
      <div *ngFor="let item of category.items" class="card-spacing col-sm-12 col-xl-6">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <h2>
                {{item.title}}
              </h2>
            </mat-card-title>
            <mat-card-subtitle>
              <h3>
                {{item.subTitle}}
              </h3>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <ul>
              <li *ngFor="let val of item.data;">
                <h5>
                  {{val.value}}
                </h5>
              </li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>