/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    overflow: hidden;
}

mat-card {
    height: 100%;
}

.card-spacing {
    margin-bottom: 30px;
}

.full-height {
    height: 100%;
}

.padding {
    padding: 16px;
}


.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    &.dark-backdrop {
      background: #000;
      opacity: 0.85 !important;
    }
  }
