/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    overflow: hidden;
    background-image: url("./assets/svgs/bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax {

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

mat-card {
    height: 100%;
}

.card-spacing {
    margin-bottom: 30px;
}

.full-height {
    height: 100%;
}

.padding {
    padding: 16px;
}


.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    &.dark-backdrop {
      background: #000;
      opacity: 0.85 !important;
    }
  }