.home {
    padding: 15px;
    height: 100vh;
    overflow-y: auto;
    padding: 0;
    background: rgba($color: #000, $alpha: 0.4)
    
}
.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

  .home-slim-container {
      padding: 0;
      background: rgba($color: #fff, $alpha: 0.7);
      border-left: 3px solid white;
      border-right: 3px solid white;
      box-shadow: 0px 0px 10px #000;
  }