<ng-scrollbar>
  <div class="container-fluid home">

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
            <pez-app-title></pez-app-title>
          <!-- <h1 class="text-center">Paul Everett Zettersten</h1> -->
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <a mat-raised-button routerLinkActive="active-link" class="big-btn justify-content-center align-items-center" routerLink="./experience">
            <h3 class="align-middle text-truncate">
              Experience
            </h3>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <a mat-raised-button routerLinkActive="active-link" class="big-btn justify-content-center align-items-center" routerLink="./education">
            <h3 class="align-middle text-truncate">
              Education
            </h3>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <a mat-raised-button routerLinkActive="active-link" class="big-btn justify-content-center align-items-center" routerLink="./skills">
            <h3 class="align-middle text-truncate">
              Skills
            </h3>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <a mat-raised-button routerLinkActive="active-link" class="big-btn justify-content-center align-items-center" routerLink="./social">
            <h3 class="align-middle text-truncate">
              Social
            </h3>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <a mat-raised-button routerLinkActive="active-link" class="big-btn justify-content-center align-items-center" routerLink="./charity">
            <h3 class="align-middle text-truncate">
              Charity
            </h3>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <a mat-raised-button routerLinkActive="active-link" class="big-btn justify-content-center align-items-center" routerLink="./personal">
            <h3 class="align-middle text-truncate">
              Personal
            </h3>
          </a>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-scrollbar>