<pez-full-layout>
    <ng-container *ngIf="(resume$ | async) as resume; else resumePreviewLoading;">

            <!-- Photo, title, and subtitle -->
            <div class="row justify-content-start">
                <div *ngIf="resume.photoURL" class="col-xs-12 col-sm-4 col-md-3 col-lg-2 p-3">
                    <pez-avatar [src]="resume.photoURL" alt="User avatar"></pez-avatar>
                    <ng-container *ngIf="editting">
                        <pez-image-uploader (onSuccess)="updateResumePhoto($event)"></pez-image-uploader>
                    </ng-container>
                </div>
                <div class="col d-flex align-items-center">
                    <div class="flex-fill">
                        <div class="d-flex ">
                            <h1 *ngIf="resume.title" class="d-inline mr-3">{{resume.title}}</h1>
                            <ng-container >
                                <button (click)="editResume(resume)" mat-fab color="primary">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </ng-container>
                        </div>
                        <h3 *ngIf="resume.subtitle">{{resume.subtitle}}</h3>
                    </div>
                </div>
            </div>

            <!-- About -->
            <div *ngIf="resume.about" class="row">
                <div class="col-12">
                    <p>{{resume.about}}</p>
                </div>
            </div>

    </ng-container>
    <ng-template #resumePreviewLoading>USER INFO SKELETON</ng-template>

    <!-- Pages -->
    <ng-container *ngIf="(pages$ | async) as pages; else pagesLoading">
        <div class="row">
            <div class="col-12">
                <ng-container *ngIf="pages.length; else noPages">
                    <mat-tab-group mat-align-tabs="center">
                        <mat-tab *ngFor="let page of pages" [label]="page.title | titlecase">
                            <pre>{{page | json}}</pre>

                            <!-- Cards -->
                            <pez-card-columns>
                                <pez-resume-page-card *ngFor="let card of page.cards" [card]="card">
                                </pez-resume-page-card>
                                <div *ngIf="!page.cards.length" fallback>
                                    No data to display
                                </div>
                            </pez-card-columns>

                        </mat-tab>
                    </mat-tab-group>
                </ng-container>
                <ng-template #noPages>
                    <h4><em>This user hasnt added any additional details</em></h4>
                </ng-template>
            </div>
        </div>
    </ng-container>
    <ng-template #loading>PAGES SKELETON</ng-template>

    <!-- <ng-container *ngIf="(resume$ | async) as resume; else loading;">
        <form *ngIf="resumeForm" [formGroup]="resumeForm">
            <div class="row justify-content-start">
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 p-3">
                    <pez-avatar [src]="resume.photoURL" alt="User avatar"></pez-avatar>
                </div>
                <div class="col d-flex align-items-center">
                    <div class="flex-fill">
                        <div class="d-flex ">
                            <h1 *ngIf="resume.title" class="d-inline mr-3">{{resume.title}}</h1>
                            <ng-container *ngIf="canEdit$ | async">
                                <button (click)="editResume(resume)" mat-fab color="primary">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </ng-container>
                        </div>
                        <h3 *ngIf="resume.subtitle">{{resume.subtitle}}</h3>
                    </div>
                </div>
            </div>
            <div *ngIf="resume.about" class="row">
                <div class="col-12">
                    <p>{{resume.about}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12" [formGroup]="resumeForm.get('pages')" #pagesForm="ngForm">
                    <mat-tab-group mat-align-tabs="center" >
                        <mat-tab *ngFor="let page of pages$ | async | keyvalue:valueAscOrder"
                            [label]="page.value.title | titlecase" #pageForm="ngForm" [formGroup]="pagesForm.form.controls[page.key]">
                            <pre>{{page.key}}</pre>

                            <ng-container *ngIf="editting; else pageViewMode;">

                                <mat-form-field>
                                    <input formControlName="title" matInput placeholder="Title">
                                </mat-form-field>

                                <mat-form-field>
                                    <input formControlName="order" type="number" matInput placeholder="Sort Order">
                                </mat-form-field>

                            </ng-container>

                            <ng-template #pageViewMode>
                                <h4 *ngIf="page.value.title">{{page.value.title}}</h4>
                            </ng-template>

                            <div class="card-columns" #cardsGroup="ngForm" [formGroup]="pageForm.form.controls['cards']">

                                <mat-card class="card" *ngFor="let card of page.value.cards | keyvalue:valueAscOrder"
                                    #cardGroup="ngForm" [formGroup]="cardsGroup.form.controls[card.key]">

                                    <pre>{{card.key}}</pre>
                                    <ng-container *ngIf="editting; else viewMode;">
                                        <mat-card-content>
                                            <mat-form-field>
                                                <input formControlName="title" matInput placeholder="Title">
                                            </mat-form-field>
                                            <mat-form-field>
                                                <input formControlName="subtitle" matInput placeholder="Title">
                                            </mat-form-field>
                                            
                                            <pez-datepicker  formControlName="startDate"></pez-datepicker>
                                            <code>{{cardGroup.form.controls['startDate'].value}}</code>
                                            <code>{{cardGroup.form.controls['startDate'].touched}}</code>

                                            <ul formGroupName="items">
                                                <li *ngFor="let item of card.value.items | keyvalue">
                                                    <pre>{{item.key}}</pre>

                                                    <ng-container [ngSwitch]="item.value.type">
                                                        <ng-container *ngSwitchCase="inputTypes.Date">
                                                            <input [formControlName]="item.key"
                                                                [matDatepicker]="myDatepicker">
                                                            <mat-datepicker-toggle [for]="myDatepicker">
                                                            </mat-datepicker-toggle>
                                                            <mat-datepicker #myDatepicker></mat-datepicker>
                                                        </ng-container>
                                                        <ng-container *ngSwitchCase="inputTypes.TextArea">
                                                            <mat-form-field>
                                                                <textarea [formControlName]="item.key" matInput
                                                                    [placeholder]="item.value.type"></textarea>
                                                            </mat-form-field>
                                                        </ng-container>
                                                        <ng-container *ngSwitchDefault>

                                                            <mat-form-field>
                                                                <input [formControlName]="item.key" matInput
                                                                    [placeholder]="item.value.type">
                                                            </mat-form-field>
                                                        </ng-container>
                                                    </ng-container>
                                                </li>
                                            </ul>

                                        </mat-card-content>
                                    </ng-container>

                                    <ng-template #viewMode>
                                        <mat-card-header>
                                            <mat-card-title *ngIf="card.value.title">{{card.value.title}}
                                            </mat-card-title>
                                            <mat-card-subtitle *ngIf="card.value.subtitle">
                                                {{card.value.subtitle}}
                                                <div *ngIf="card.value.startDate">
                                                    <ng-container *ngIf="card.value.endDate; else noEnd;">
                                                        <time>{{card.value.startDate | date:'MMMM y'}}</time> -
                                                        <time>{{card.value.endDate | date:'MMMM y'}}</time>
                                                    </ng-container>
                                                    <ng-template #noEnd>
                                                        <time>{{card.value.startDate | date:'MMMM y'}}</time> - Present
                                                    </ng-template>
                                                </div>
                                            </mat-card-subtitle>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <ul>
                                                <li *ngFor="let item of card.value.items | keyvalue">
                                                    <ng-container [ngSwitch]="item.value.type">
                                                        <ng-container *ngSwitchCase="inputTypes.Date">
                                                            <time>{{item.value.value | date:'MMMM y'}}</time>
                                                        </ng-container>
                                                        <ng-container *ngSwitchDefault>
                                                            {{item.value.value}}
                                                        </ng-container>
                                                    </ng-container>
                                                </li>
                                            </ul>
                                        </mat-card-content>
                                    </ng-template>

                                </mat-card>

                                <button *ngIf="editting" class="card" mat-raised-button color="secondary">
                                    Add card&nbsp;
                                    <mat-icon>add_circle</mat-icon>
                                </button>

                            </div>

                        </mat-tab>

                        <mat-tab *ngIf="editting">
                            <ng-template mat-tab-label>
                                <mat-icon>add_circle</mat-icon>
                            </ng-template>
                        </mat-tab>

                    </mat-tab-group>
                </div>
            </div>
        </form>
    </ng-container>
    <ng-template #loading>LOADING</ng-template> -->
</pez-full-layout>