<div class="row justify-content-between align-items-center p-3">
  <div class="col">
    <h2>Resume builder</h2>
  </div>
  <div class="col-auto">
    <button mat-raised-button (click)="auth.signOut()">Sign out</button>
  </div>
</div>
<!-- <ng-container *ngIf="auth.user$ | async as user">
  <div class="row">
    <div class="col-12">
      <button mat-raised-button (click)="auth.updateResume(user.uid)">update</button>
    </div>
  </div>
</ng-container> -->

<section class="container">
  <form *ngIf="group" [formGroup]="group">

    <div formGroupName="personal" class="border p-3 mb-5">

      <h3>Personal</h3>

      <ng-container *ngFor="let pQuestion of personalQuestions">

        <pez-resume-builder-question [question]="pQuestion" [group]="group.controls['personal']"></pez-resume-builder-question>

      </ng-container>

    </div>


    <div formGroupName="education" class="border p-3 mb-5">

      <h3>Personal</h3>
      <pre></pre>
      <ng-container *ngFor="let edGroup of group.controls['education'].controls">
        <pre>{{edGroup.value | json}}</pre>
      </ng-container>

    </div>


  </form>
</section>
