<div class="row">
  <div class="col-12">
    <h2>Resume builder</h2>
  </div>
</div>
<ng-container *ngIf="auth.user$ | async as user">
  <div class="row">
    <div class="col-12">
      <pre>{{user | json}}</pre>
      <h4>
        {{user.displayName}}
      </h4>
      <button mat-raised-button (click)="auth.signOut()">Sign out</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button mat-raised-button (click)="auth.updateResume(user.uid)">update</button>
    </div>
  </div>
</ng-container>

<section class="container">
  <form *ngIf="group" [formGroup]="group">
    <div formGroupName="personalGroup">
      <ng-container *ngFor="let pQuestion of personalQuestions">

        <label [attr.for]="pQuestion.key">{{pQuestion.label}}</label>

        <div [ngSwitch]="pQuestion.controlType">

          <input [id]="pQuestion.key"  *ngSwitchCase="'textbox'" [formControlName]="pQuestion.key" [type]="pQuestion.type">

          <select [id]="pQuestion.key" *ngSwitchCase="'dropdown'" [formControlName]="pQuestion.key">
            <option *ngFor="let opt of pQuestion.options" [value]="opt.key">{{opt.value}}</option>
          </select>

          <textarea [id]="pQuestion.key" *ngSwitchCase="'textarea'" [formControlName]="pQuestion.key" rows="4" cols="50"></textarea>
        </div>
      </ng-container>
    </div>
  </form>
</section>
